/* global styles */
#card-list {
  margin-bottom: 1.5em;
  text-align: center;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

#category-box select {
  display: flex;
  margin: 0.5rem 0;
}

.img-thumb {
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
}
.send-this-img {
  float: left;
  display: inline;
  width: 165px;
  margin: 5px;
  padding-bottom: 10px;
  text-align: center;
}

#limit {
  text-align: center;
}
#limit ul.pagination li {
  float: none !important;
  display: inline;
}

/* bigger than 450px */
@media only screen and (min-width: 450px) {
  .card {
    padding: 5px;
    clear: none;
    float: left;
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow 0.25s;
    border-radius: 2px;
  }

  #category-box {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
  }

  #card-heading {
    font-weight: bold;
  }
}

/* smartphones */
@media only screen and (min-width: 90px) and (max-width: 449px) {
  #category-box {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
  }

  #card-heading {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .card {
    padding: 5px;
    clear: none;
    float: left;
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow 0.25s;
    border-radius: 2px;
  }
}
